---
import MainLayout from "../components/layouts/MainLayout.astro"
import SEOLayout from "../components/layouts/SEOLayout.astro";
---

<SEOLayout title="Contact | Portfolio Donaël Walter | Creative Development, Photography, Design" description="Portfolio of Donaël WALTER, French Creative Developper, Interactive Designer, Hobbyist Photographer" lang="en">
	<MainLayout>
		<h1>Index List</h1>
	</MainLayout>
</SEOLayout>
